<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->

  <script src="lib/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/local.js" type="text/javascript" charset="utf-8"></script>
  <script src="leaflet.js"></script>

  <script src="lib/application.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/x-jquery-tmpl" id="taskTemplate">
  <div class="item {{if done}}done{{/if}}">
    <div class="view" title="Double click to edit...">
      <input type="checkbox" {{if done}}checked="checked"{{/if}}> 
      <span>${name}</span> <a class="destroy"></a>
    </div>
  </div>
</script>
  
</head>
<body>
<div id="views">
  <div id="map" style="height: 400px"></div>
  <div id="tasks">
    <h1>Todos</h1>

    <form>
      <input type="text" placeholder="What needs to be done?">
    </form>



    <div class="items"></div>

    <footer>
      <a class="clear">Clear completed</a>
      <div class="count"><span class="countVal"></span> left</div>
    </footer>
  </div>
</div>


<script>
  var map = L.map('map').setView([51.505, -0.09], 13);

  L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
  }).addTo(map);


  L.marker([51.5, -0.09]).addTo(map)
    .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

  var popup = L.popup();

  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(map);
  }

  map.on('click', onMapClick);
</script>

</body>
</html>