<!DOCTYPE html>
<html>
<head>
  <title>London</title>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">
 

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 
  <script src="lib/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/local.js" type="text/javascript" charset="utf-8"></script>
  <script src="leaflet.js"></script>

  <script src="lib/application.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/x-jquery-tmpl" id="taskTemplate">
  <div class="item {{if done}}done{{/if}}">
    <div class="view" title="Double click to edit...">
      <input type="checkbox" {{if done}}checked="checked"{{/if}}> 
      <span>${name} <br><span class="small">Ln: ${lon} Lat: ${lat}</span></span>
    </div>
  </div>
</script>

</head>
<body>
<div id="views">
  <div id="map" style="height: 400px">
  </div>
  <div id="tasks">
    <form>
      <input type="text" name="name" placeholder="Location" id="name"> 
      <input type="hidden" name="lat" id="latitude" value="" />
      <input type="hidden" name="lon" id="longitude" value="" />     
    </form>



    <div class="items"></div>

    <footer style="height:20px">
    </footer>
  </div>
</div>



<script>
  var map = L.map('map').setView([51.51205, -0.10998], 13);

  L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
    maxZoom: 18,
  }).addTo(map);

  var locations = JSON.parse(localStorage.getItem("Task"));
  for(var i = 0; i < locations.length; i++){
    new L.marker([locations[i].lat, locations[i].lon]).addTo(map);
  }

  function onMapClick(e) {
    var newMarker = new L.marker(e.latlng).addTo(map);
    document.getElementById('latitude').value = e.latlng.lat;
    document.getElementById('longitude').value = e.latlng.lng;
    $("#name").focus();
  }

  map.on('click', onMapClick);
</script>

</body>
</html>